.entity-media-usage-settings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.entity-media-usage-settings > *:not(.form-actions) {
  flex: 1 1 auto;
}

.fieldgroup.form-composite .fieldset-wrapper {
  height: 10rem;
  overflow-y: scroll;
  resize: vertical;
  border: 1px solid #bfbfbf;
  padding: 0.25rem 0.5rem;
}

@media screen and (min-width: 60em) {
  .entity-media-usage-settings {
    flex-direction: row;
  }
  .entity-media-usage-settings > *:not(.form-actions) {
    width: calc(33% - 2rem);
    margin-right: 1rem;
  }
}
